.arriba{
	z-index: 999999999 !important;
}
.title-proyectos{
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: calc(calc(1vw + 1vh) * 4.8);
	font-weight: 300;
	text-align: center;
	opacity: .9;
	margin-top: .2em;
}
.gallery {
    /* height: 100vh; */
	padding: 10px !important;
	width: 50%;
	column-width: 4em;
	gap: .5em;
	transform: scale(8.2);
	will-change: transform;
	transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s;
}
.gallery__item {
	margin-bottom: .5em;
	transform: scale(0.9);
	will-change: transform;
	transition: .3s;
}
.gallery__item:hover {
	transform: scale(1.03);
}
.gallery__item img {
	width: 100%;
	display: block;
}

@media (max-width : 992px) {
	.gallery__item img {
		width: 100%;
		display: block;
	}

	.gallery {
		width: 100%;
		column-width: 3em;
		transform: scale(5);
	}
	.gallery__item:hover {
		transform: scale(1);
	}

}
